<!DOCTYPE html>
html(lang="zxx")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="css/index.min.css", rel="stylesheet")
		title SAtest
	body
		section.contactUs
			.container
				.telephoneNumber CALL us +1 234 555 6677
				.address 27 Ba Trieu St. Hue city, Viet Nam
				.share
					|
					a(href="#", title="facebook", class="social fb")
					|
					a(href="#", title="twitter", class="social tw")
					|
					a(href="#", title="linkedIn", class="social in")
					|
					a(href="#", title="pinterest", class="social pt")
				h4 send a message
				p Lorem ipsum dolor sit amet, consectetue elit. Quisque eleLorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. 
				.contactForm
					form(action="#")
						.inputWrapper
							input(type="text" placeholder="Your Name")
							input(type="text" placeholder="Your Email")
							input(type="text" placeholder="Phone")
							textarea(placeholder="Message")
						button(type="submit" class="btn") learn more
			footer DIZAINO™ - CREATIVE DESIGN & DEVELOPMENT BY JUNOTEAM
			.goTop