
@font-face {
	font-family: OpenSans;
	src: url('../fonts/OpenSans.woff2') format('woff2'),
			url('../fonts/OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
			url('../fonts/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: HelveticaCn;
	src: url('../fonts/HelveticaNeueCn.woff2') format('woff2'),
			url('../fonts/HelveticaNeueCn.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
