// ---------------------------
// Global variables
// ---------------------------
// Font

$mainFont                	: 'OpenSans', sans-serif;
$secondFont         		  : 'Bringin', sans-serif;
$thirdFont								: 'LeagueGothic', sans-serif;


$mainFontColor						: #949494;
$secondaryFontColor				: #16b5ef;
$mainHeaderColor					: #ffffff;
$headerColor							: #000000;

// Size
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// $desktopWidth            : 1280px;
// $smDesktopWidth          : 980px;
// $tableWidth              : 768px;
// $phoneWidth              : 480px;
// $smPhoneWidth            : 320px;

// Main color
// $defaultColor           : #ffffff;

// $success-color           : #ABCD4D;
// $danger-color            : #fc5c65;
// $warning-color           :#ff503f;
// $light-color             : #999999;


// Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// Border Color
// $border-base             : red;
// $border-base             : grey;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;


//background Colors
// $bgPrimary 							: #ffffff;
// $bgSecondary 						: #f6f4f4; //About us section
// $bgSubSecondary					: #F8F9FA; //logos section


// Colors
// ---------------------------

// Gray
// $black: 		#000;
// $darkGray: 		#65615d;
// $darkDarkGray:  #241e18;
// $gray: 			#75726e;
// $grayShade:		#c2c0ba;
// $grayTint:		#f6f4f0;
// $grayPastel:	#f8f7f4;
// $whiteGray: 	#f2f0e9;
// $white: 		#fff;

// Blue
// $blue						:		#36aeea;
// $blueLight			: 	#56c7ff;
// $blueDark: 	#;
// $bluePastel:	#;

// Brand colors
// $prime: $green;
// $primeShade: $greenDark;
// $primeTint: $greenLight;
// $primePaster: $greenPastel;

// $second: $blue;
// $secondShade: $blueLight;
// $third: $darkDarkGray;

